{
  "presets": [
    ["@babel/preset-react", { "runtime": "automatic" }],
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "auto"
      }
    ],
    "@babel/preset-typescript"
  ]
}
